*{
  font-family: sans-serif;
}
h1{
   padding: 20px;
   border-bottom: 3px solid rgb(218, 149, 22);
}
h4{
  color: rgb(218, 149, 22);
}
img{
  border: 2px solid rgb(218, 149, 22);
}
.title{
  display: flex;
  justify-content: space-between;
}
.card{
    display: flex;
    align-items: center;
    gap:20px;
    border:1px solid rgb(223, 217, 217);
    border-radius: 5px;
}
.grid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
h3,h4{
  margin: 0px;
}
